colorama==0.4.6
dotenv==0.9.9
greenlet==3.2.4
iniconfig==2.3.0
numpy==2.3.4
packaging==25.0
pandas==2.3.3
pluggy==1.6.0
psycopg==3.2.12
psycopg-binary==3.2.12
psycopg2==2.9.11
Pygments==2.19.2
pytest==8.4.2
pytest-dotenv==0.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
tzdata==2025.2
